.search-input {
  height: 50px;
  font-size: 14px;
  line-height: 16px;
  color: var(--default-color);
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding-left: 10px;
  outline: 0;
}

.search-input::placeholder {
  color: var(--hint-color);
}

.search-input_focus:focus {
  border: 1px solid var(--accent-color);
}

.search-input_disabled:disabled {
  background: var(--input-disabled-color);
  color: var(--hint-color);
}
