@import "@styles/reset.scss";
@import "@styles/varibles.scss";

.search-button {
  padding: 14px 16px;
  background: $accent-color;
  border-radius: $block-border-radius;

  &_hover:hover {
    opacity: 0.7;
  }

  &_disabled:disabled {
    background: $button-disabled-color;
  }
}
