@import "@styles/varibles.scss";

body {
  margin: 0;
}
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 397px;
  padding: 20px;
  margin: auto;
  font-family: "Roboto", "Arial", sans-serif;

  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 100%;
}

.search-bar {
  display: grid;
  grid-template-columns: auto min-content;
  justify-items: stretch;
  grid-column-gap: 20px;
  width: 100%;
}

.repos-list {
  display: grid;
  gap: 16px;

  grid-template-columns: 100%;
}

.search-icon {
  vertical-align: middle;
}

.end-message {
  padding-top: 10px;
  text-align: center;
}
