.avatar {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: var(--accent-color);
    
    color: var(--bg-color);
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    min-width: 80px;
  }