@import "@styles/varibles.scss";

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 40px;

  color: $bg-color;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 80px;

  &_accent {
    background-color: $accent-color;
  }
}
