<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Домашнее задание 1</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form action="" method="get" class="search-bar">
        <input class="search-input search-input_disabled search-input_focus" placeholder="Введите название организации" type="text" />
        <button class="search-button search-button_hover search-button_disabled" type="submit">
          <img class="search-button__icon" src="images/find.svg" />
        </button>
      </form>

      <div class="repos-list">
        <div class="git-repo-tile git-repo-tile_hover">
          <div class="avatar">
            <p>K</p>
          </div>

          <div class="content">
            <div class="repo-name">kts-school-frontend</div>
            <div class="org-name org-name_hover">ktsstudio</div>
            <div class="info">
              <div class="stars">
                <img class="stars__img" src="images/star.svg" />
                <p class="stars__p">123</p>
              </div>
              <div class="date">Updated 21 Jul</div>
            </div>
          </div>
        </div>

        <div class="git-repo-tile git-repo-tile_hover">
          <div class="avatar">
            <p>K</p>
          </div>

          <div class="content">
            <div class="repo-name">kts-school-frontend</div>
            <div class="org-name org-name_hover">ktsstudio</div>
            <div class="info">
              <div class="stars">
                <img class="stars__img" src="images/star.svg" />
                <p class="stars__p">123</p>
              </div>
              <div class="date">Updated 21 Jul</div>
            </div>
          </div>
        </div>

        <div class="git-repo-tile git-repo-tile_hover">
          <div class="avatar">
            <p>K</p>
          </div>

          <div class="content">
            <div class="repo-name">
              very-long-repository-name-and-long-long-long-long
            </div>
            <div class="org-name org-name_hover">ktsstudio</div>
            <div class="info">
              <div class="stars">
                <img class="stars__img" src="images/star.svg" />
                <p class="stars__p">123</p>
              </div>
              <div class="date">Updated 21 Jul</div>
            </div>
          </div>
        </div>

        <div class="git-repo-tile git-repo-tile_hover">
          <div class="avatar">
            <img src="images/avatar.svg" />
          </div>

          <div class="content">
            <div class="repo-name">
              very-long-repository-name-and-long-long-long-long
            </div>
            <div class="org-name org-name_hover">ktsstudio</div>
            <div class="info">
              <div class="stars">
                <img class="stars__img" src="images/star.svg" />
                <p class="stars__p">123</p>
              </div>
              <div class="date">Updated 21 Jul</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
